.spacer {
  margin-top: 40px; /* define margin as you see fit */
}

.spacer40 {
  margin-top: 40px;
  /* define margin as you see fit */
}

.spacer20 {
  margin-top: 20px;
  /* define margin as you see fit */
}
div.left {
  float:left;
  width:50%;
}

div.right {
  float:right;
  width:50%;
}

input.ng-invalid.ng-dirty {
  background-color: #FA787E;
}

input.ng-valid.ng-dirty {
  background-color: #78FA89;
}

input.ng-invalid {
  background-color: #4b39fa;
}