.menu {
  background: #eee;
  position:relative;
  float:left;
  left:0px;
  width:220px;
  margin-right:15px;
}
.menu ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu ul li{
  padding: 0px;
}

.menu a, #menu h2 {
  display: block;
  margin: 0;
  padding: 2px 6px;
  color:#FFFFFF;
}


.menu a {
  color: #666666;
  background: #efefef;
  text-decoration: none;
  padding: 2px 12px;
}

.menu a:hover {
  color: #648C1D;
  background: #fff;
}
