/* line 1, item.scss */
.item {
  color: #666666;
  background: #efefef;
  text-decoration: none;
  padding: 2px 12px;
}

/* line 8, item.scss */
.item ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* line 13, item.scss */
.item li {
  list-style: none;
  padding: 0px;
  text-transform: none;
}
